# =========================
# Fichiers sensibles
# =========================

.env
.env.*
!.env.example

# =========================
# Base de données
# =========================

base.db

# =========================
# Fichiers CSV
# =========================

*.csv

# =========================
# Scripts secondaires / tests
# =========================

secondary_scripts/
eval312/
eval/